.env
Homestead.yaml
Vagrantfile
vendor
.vagrant

*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

readme.html
license.txt

wp-content/themes/index.php
wp-content/themes/twentyeleven/
wp-content/themes/twentyfourteen/
wp-content/themes/twentyten/
wp-content/themes/twentythirteen/
wp-content/themes/twentytwelve/
